{% extends 'base.html' %}
{% import 'utils.html' as util with context %}
{% block body %}
    {% if companies %}
        <h5>{{ companies.item_count|pluralize('company', 'companies') }} in database</h5>
        {{ util.company_stream(companies) }}
        {{ util.pagination(companies) }}
    {% else %}
        <p class="alert">
            No companies in database. 
            <a href="{{ request.route_url('company.add') }}">Add a company</a> 
            to start tracking it.
        </p>
    {% endif %}
{% endblock %}