{% extends 'base.html' %}
{% import 'utils.html' as util with context %}
{% block body %}
    {{ util.company_info(company, prediction, stock_quotes, news) }}
    {% if previous_company or next_company %}
        <ul class="pager">
            {% if previous_company %}
                <li class="previous">
                    <a title="{{ previous_company.symbol }}" href="{{ request.route_url('company.view', id=previous_company.id) }}">&laquo; {{ previous_company.name }}</a>
                </li>
            {% endif %}
            {% if next_company %}
                <li class="next">
                    <a title="{{ next_company.symbol }}" href="{{ request.route_url('company.view', id=next_company.id) }}">{{ next_company.name }} &raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}